<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SSHRun</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>authImg</servlet-name>
		<servlet-class>com.briup.run.web.servlet.AuthImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>authImg</servlet-name>
		<url-pattern>/authImg</url-pattern>
	</servlet-mapping>

	<!-- 登录过滤器 -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.briup.run.web.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/member/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/messenger/*</url-pattern>
	</filter-mapping>

	<!-- struts2过滤器，放最后 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<!-- 我们项目中的spring配置文件就要靠这一对配置来读取,一个负责指明xml文件的位置,一个负责读取这个位置上的xml位置(listener负责读取) -->
	<!-- spring读取xml文件位置 -->
	<context-param>
		<!-- 下面这个param-name 名字不要变，spring会自动读取这个 -->
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>